attrs==26.1.0
black==25.1.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
coverage==7.10.6
cryptography==49.0.0
dhanhq==2.2.0
idna==3.18
iniconfig==2.3.0
isort==6.0.1
mypy_extensions==1.1.0
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pathspec==1.1.1
platformdirs==4.10.1
pluggy==1.6.0
py==1.11.0
pycparser==3.0
Pygments==2.20.0
pyOpenSSL==26.3.0
pytest==9.1.1
pytest-cov==7.0.0
pytest-pythonpath==0.7.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.34.2
ruff==0.12.10
six==1.17.0
toml==0.10.2
typing_extensions==4.16.0
urllib3==2.7.0
websockets==16.1
